# Berkas Konfigurasi Sensitif & Environment
# Jangan pernah commit file-file ini!
.env
.env.local
.env.development.local
.env.production.local
service-account.json

# Berkas Log & Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Direktori Dependensi
# Ini bisa di-install ulang dengan `npm install` atau `yarn install`
node_modules/

# Direktori Build Next.js
.next

# Direktori Build dan Output
out/
dist/

# File Cache
.cache/
.vscode/

# File Testing
coverage/
.nyc_output/

# File Temporary
tmp/
temp/
*.swp

# File Firebase
firebase-debug.log
.firebaserc

# Cache Firebase Emulator
.firebase/

# Direktori sesi WhatsApp dari run.js
tokens/

# Dependensi & Build untuk Firebase Functions
functions/node_modules
functions/lib

# File Lainnya
*.bak
*.pid

# File Sistem Operasi
.DS_Store

# File auto-generasi Next.js
next-env.d.ts